################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/window/gl_win/.vs/gl_win/v15
/window/gl_win/gl_win/Debug
/window/gl_win/Debug
/window/gl_win/window2/Debug
/window/gl_win/window2/window2.vcxproj.user
/window/gl_win/window2/window2.vcxproj.filters
/window/gl_win/window2/window2.vcxproj
/window/gl_win/window2/window2.cpp
/window/gl_win/window2
/window/gl_win/gl_win/gl_win.vcxproj.user
/window/gl_win/gl_win/gl_win.vcxproj.filters
/window/gl_win/gl_win/gl_win.vcxproj
