################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/window/gl_win/.vs/gl_win/v15
